

* { margin: 0;
    box-sizing: border-box;}

body {
  font-size: 16px;
  font-family: 'Cutive', serif;
}
h1, h2, h3 {
     font-family: 'Cinzel', cursive;
}

header {
    padding: .5rem 0%;
    background-color: #99e6ff;
    position: static;
}

header .subheading { 
    display:flex;
    justify-content: center;
  
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
    margin-right: auto;
        }


nav {
  background-color: #99e6ff;
    display: flex;
}

nav ul {

    margin: 0;
    padding: 0;
     display: flex;
    flex-wrap: wrap;


}
nav ul li {
    
    list-style: none;
    text-align: center;
    background-color: #555;
    flex-basis: 100%;
    }
nav ul li a {
   display: block;
    background-color: #444;
    color: #eee;
    border-left: 1px solid #777;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    font-family: 'Cinzel', cursive;
    

    }
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
    flex-basis: 100%;
    
    }
nav ul li.active a {
    background-color: #4CAF50;
    color: #fff;
    }
nav ul.hide {display: none;}

main {
    padding: 0 2%;
    min-height: 10rem;
    display: flex;
    flex-flow: column nowrap;
}


main figure.summerphoto {
    width: 50%;
    margin: .2rem 2%;
    

}
section.summary {
    border-style: solid;
    border-width: medium;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

section.forecast {
    display: none;
  }
section.city{
    display:flex;
    flex-flow: column nowrap;
       border-style: solid;
    border-width: medium;
}
article{
    border-style: solid;
    border-width: medium;
    display: flex;
    flex-flow: column;
}

main figure.franklinphoto img { width: 100%; margin: 0;}
main figure.franklinphoto figcaption{text-align: center; font-size: .75rem}

main figure.summerphoto img { width: 100%; margin: 0;}
main figure.summerphoto figcaption{text-align: center; font-size: .75rem}

/* Gallery style*/

div.theGallery {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
}

div.theGallery figure {
    margin: 2rem 0;
    border: none;
}


div.theGallery figure figcaption {
            text-align: center;
            font-size: 1.0rem;
}
	div.theGallery figure:hover {
		box-shadow: 5px 10px 10px gray;
        opacity: .5;
        border-radius: 5px 50px
}
div.theGallery figure img{ width: 100%;
    border-radius: 5px 50px;
}

/*Storm Center styles */

form fieldset {
    margin: 1.3rem 0;
    border: 4px solid #4CAF50;
    padding: .5rem 2%;
    border-radius: .8em;
    width: 100%;
    max-width: 500rem;
    
    
} 


form legend {
     color:#00008B;
    margin: 0 1rem;
    padding: .10rem;
}

form label {
	display: block;
     margin: .1rem;
    padding: 1rem;
    color:#777;
    
}

form span {
	display: block;
    font-size: 1rem;
    color: #191970;
    max-width: 20rem;
  
}
form label input{
    padding: .6rem;
     background-color: #e6f2ff;
    border: 1px solid  #191970;
    border-radius: .3em;
}
form input.submitBtn {
    padding: .5rem 2%;
	margin-bottom: 1rem;
	background-color: #4CAF50;
	border-radius: .3em;
	border: 4px solid #777;
	margin-left: 2%;
	color: #fff;
}
form select {
	 display: block;
     margin: .1rem;
    color:#777;
    font-size:1em;
    background-color: #e6f2ff;

}
   form textarea {
       padding: 1rem 1rem;
     background-color: #e6f2ff;
    border: 1px solid  #191970;
    border-radius: .3em; 
}

form label input:required {
    border-left: solid 4px #e60000 ;
}

form label input:required:valid { 
    border-left: solid 4px #00e600 ;
}
.thanks{display:flex;
    text-align: center;
    
    
}
    
/*Footer*/

footer {
 background-color: #99e6ff;
    padding: .5rem 2%;
    text-align: center;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}