@media only screen and (min-width: 64rem) {
    
    nav ul li a { padding: .6rem 1rem;}
    
    
  /* Gallery*/

	div.theGallery figure:hover {
		box-shadow: 5px 10px 10px gray;
        opacity: .5;
        border-radius: 5px 50px
}
div.theGallery figure img{ 
    border-radius: 5px 50px;
}
div.theGallery {
  		grid-template-columns: 1fr 1fr 1fr;
	}
    
    /*Home Page*/
    
    .townsinfo {
        grid-template-columns: 1fr 1fr 1fr;
    }
     
}