* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #555;
    color: #ffffff;
    
}
h2, h5, {
    font-family: 'Neucha', cursive;
}
p {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 20px;
}

/* Style the header */
.header {
    padding: 10px;
    text-align: left;
    background: #404040;
    color: #ffffff;
   
}
.logo {
   width: 100%;
   margin: 2% 0 0 1%;
   float:left;
}

.header h1 {
    font-size: 40px;
    color: #ffffff;
    font-family: 'Rock Salt', cursive;
    font-weight: 600;
    letter-spacing: 0.1em;
    
}

/* Style the navigation  */

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #ffffff;
    margin-right: auto;
        }

nav {
    overflow: hidden;
    border: 1px solid  #232323;
    border-radius: .3em; 
    background: #834613;
}

nav ul {
  margin: 0;
    padding: 0;
     display: flex;
    flex-wrap: wrap

}
nav ul li {
    list-style: none;
    text-align: center;
    flex-basis: 100%;
    }
nav ul li a {
     display: flex;
    flex-flow: row wrap;
    color: #ffffff;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
    letter-spacing: 2px
    font-size: 2px;
    }
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
  background-color: #ac9a53;
    color: #555;
    
    
    }
nav ul li.active a {
    background-color: #ac9a53;
    color: #fff;
    }
nav ul.hide {display: none;}
  

/* Call To Action */

}
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}
.container img {
    width: 100%;
    padding: 0em 1em;
    margin: 0;
}
.container .button {
    position: absolute;
    top:53%;
    left: 75%;
     transform: translate(-50%, -50%);
    display: inline-block;
    padding: 12px 24px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.0625em;
    background: #834613;
	opacity: .85;
	/* http://www.quirksmode.org/css/opacity.html*/
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    color: #ff6600;
    cursor: pointer;
    border: 4px solid #ffffff;
    border-radius: 5px 10px
        
}
 .container .button:hover {
	 	background: #ffffff;
	 	text-decoration: none;
	 	color: #fc9a18;
}
	 	
.container .callToAction {
    position: absolute;
    top: 39%;
    right: 90px;
    background-color: #834613;
    color: white;
    padding-left: 10px;
    padding-right: 20px;
    border: 4px solid #ffffff;
    border-radius: 5px 10px;
    opacity: .85;
	/* http://www.quirksmode.org/css/opacity.html*/
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=85);
	padding: 15px 20px;    
}

.callToAction h3{
	color: #fff;
	font-family: 'Neucha', cursive;
	line-height: normal;
	margin-top: 5px;
	font-size: 15px;
	text-transform: uppercase;
}
.callToAction p {
	color: #fff;
	font-family: 'Patrick Hand SC', cursive;
	font-weight: 600;
	font-size: 10px;
	margin-top: -10px;
	text-transform: uppercase;
}

/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: #555;
    padding: 20px;
    text-align: center;
}
.side .summary {
    text-align: center;
    width:300px;
    height:450px;
        background-color: #fff;
        color:#555;
        border: 4px solid #79B473;
        border-radius: 5px 30px;
        padding: 0 5px 0 10px;
        margin: 0em 1em;
}

/* Main  */
.main {   
    flex: 70%;
    background-color: #555;
    padding: 20px;
}


.firstimg { 
    width: 100%;
    padding: 1em 1em;
    margin: 0;
}
.firstimg figcaption{
    text-align: center;
    font-size: .75rem
}
.secondimg { 
    width: 100%;
    padding: 1em 1em;
    margin: 0;
}
.secondimg figcaption{
    text-align: center;
    font-size: .75rem
}

/* Footer */
.footer h1{
     font-family: 'Rock Salt', cursive;
}
footer {
    padding: 20px;
    text-align: center;
   background: #404040;
    color: #ffffff;
}