

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 'Cutive', serif;
}
h1, h2, h3 {
    font-family: 'Sanchez', serif;
}

header {
    padding: .5rem 2%;
    background-color: #99e6ff;
    font-family: 'Cutive', serif;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}
header figure.logo {
    float: left;
    margin: 0 2% 0 0;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
        }


nav {
  background-color:#99bbff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    }
nav ul li {
    text-align: center;
    border-bottom: 1px solid #555;
    }
nav ul li a {
   display: block;
    background-color: #444;
    color: #eee;
    border-left: 1px solid #777;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    }
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
    }
nav ul li.active a {
    background-color: #4CAF50;
    color: #fff;
    }
nav ul.hide {display: none;}

main {
    padding: 0 2%;
    min-height: 10rem;
}

main figure.franklinphoto {
    width: 50%;
    margin: 0 0 0 2%;
    float: right;
}
main figure.sunnyphoto {
    width: 50%;
    margin: 0 0 0 2%;
    float: right;
}
main figure.summerphoto {
    width: 50%;
    margin: 0 0 0 2%;
    float: right;
}
main figure.sunnyphoto img { width: 100%; margin: 0;}
main figure.sunnyphoto figcaption{text-align: center; font-size: .75rem}

main figure.franklinphoto img { width: 100%; margin: 0;}
main figure.franklinphoto figcaption{text-align: center; font-size: .75rem}

main figure.summerphoto img { width: 100%; margin: 0;}
main figure.summerphoto figcaption{text-align: center; font-size: .75rem}

footer {
 background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}